

/*#root {
  max-width: 5000px;
  height: 500px;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  background: #f1f1f3;
}*/

.form-container {
  display: flex;
  place-items: center;
  align-items: center;
  height: 100vh; 
  background-color: #1e1e1e; 
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: #2e2c2c;
  border-radius: 25px;
  transition: 0.4s ease-in-out;
  margin-left: 450px;
}
.cedula{
  padding-right: 20px;
}
.button2{
  padding: 0.5em;
  padding-left: 20px;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 10px;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #252525;
  color: rgb(255, 255, 255);
}
.listausuarios{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 35px;
  background-color: #2e2c2c;
  color: antiquewhite;
  border-radius: 25px;
  transition: 0.4s ease-in-out;
  margin-left: 350px;
}
.inputupdate {
  margin-left: 10px;
  width: 60%;
  background: #e0dede;
  padding: 12px;
  border: none;
  outline: none;
  margin-bottom: 10px;
}
.inputcedula{
  margin-left: 43px;
  width: 60%;
  background: #e0dede;
  padding: 12px;
  border: none;
  outline: none;
  margin-bottom: 10px;
}
.inputnombre {
  margin-left: 32px;
  width: 60%;
  background: #e0dede;
  padding: 12px;
  border: none;
  outline: none;
  margin-bottom: 10px;
}
.inputrol {
  margin-left: 68px;
  width: 60%;
  background: #e0dede;
  padding: 12px;
  border: none;
  outline: none;
  margin-bottom: 10px;
}
.inputtelegram {
  margin-left: 10px;
  width: 48%;
  background: #e0dede;
  padding: 12px;
  border: none;
  outline: none;
  margin-bottom: 10px;
}
.update{
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: #2e2c2c;
  border-radius: 25px;
  transition: 0.4s ease-in-out;
  margin-left: 450px;
  color: #ffffff;
}
.profile {
  
  background-color: #2e2c2c;
  }

.registro {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 30px;
  padding-right: 50px;
  padding-bottom: 0.4em;
  background-color: #2e2c2c;
  border-radius: 25px;
  transition: 0.4s ease-in-out;
  margin-left: 450px;
}
.tituloeditar {
  margin-left: 100px;
  color: #ffffff;
}
.titulologin {
  margin-top: 40px;
  margin-left: 150px;
  color: #ffffff;
}
.tituloregistro {
  margin-top: 50px;
  margin-left: 90px;
  color: #ffffff;
}
.button {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 10px;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #252525;
  color: white;
}
.button1 {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 10px;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #252525;
  color: white;
}
button {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 110px;
  margin-left: 90px;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #252525;
  color: white;
}
.inputs {
  height: 370px;
  margin-left: 350px;
  width: 350px;
  background: #f1f1f3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 25px;
}

.inputs_register {
  margin-left: 10px;
  width: 80%;
  background: #e0dede;
  padding: 12px;
  border: none;
  outline: none;
  margin-bottom: 10px;
}
.input_login {
  margin-left: 10px;
  width: 80%;
  background: #e0dede;
  padding: 12px;
  border: none;
  outline: none;
  margin-bottom: 10px;
}
.error {
  margin-left: 100px;
}

select {
  margin-left: 10px;
  width: 80%;
  background: #e0dede;
  padding: 12px;
  border: none;
  outline: none;
  margin-bottom: 10px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*---break---*/


/*---break---*/


/*---break---*/


/*---break---*/


/*---break---*/


/*---break---*/


/*---break---*/


/*---break---*/


/*---break---*/


